{% extends "layouts/base_authenticated.html" %}

{# TODO: Timezones are kinda broken and need to be manually set #}
{% load tz %}

{% block title %}Residentes{% endblock %}

{% block body %}

<div class="container flex flex-col gap-4 mx-auto">

  {% if messages %}
  <div class="flex flex-col gap-3">
    {% for message in messages %}
    <div class="message w-full {% if message.tags %}{{ message.tags }}{% endif %}">
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}

  {# Action buttons #}
  
  <div class="flex gap-3">
  <div>
    <p>Fecha inicial</p>
    <input type="date" id="dateStart" class="form-control input-text font-roboto"/>
  </div>               
  <div>
    <p>Fecha final</p>
    <input type="date" id="dateEnd" class="form-control input-text font-roboto"/>
  </div>  
    <button onclick="handle_dates()" id="btn_generate_report" class="btn btn-primary">CALCULAR SALDOS</button>
    <button onclick="printReport()" id="btn_generate_report" class="btn btn-primary">IMPRIMIR REPORTE</button>
  </div>

  {# Residents table, rendered using datatables (js) #}
  <table id="stock-datatable" class="display compact nowrap">
    {# Table header #}
    <thead>
      <tr class="font-raleway text-slate-800">
        <th>RESIDENTE</th>
        <th>MEDICAMENTO</th>
        <th>DOSIS DIARIA</th>
        <th>CANTIDAD EN RESERVA</th>
        <th id ="head_target">SALDOS</th>
      </tr>
    </thead>

    {# Table body #}
    <tbody class="font-raleway">
      {% for resident in residents %}
      <tr>    
        {#Resident name#}    
        <td id = "resident_{{forloop.counter}}">{{ resident.get_full_name}}</td>
        {#Resident Inventory presentation name#}    
        <td>
          <table class= "display compact nowrap cell-border">
          {%for entry in  resident.get_inventory_info%}
            <tr>
              <td>
              {{entry.name}}
              </td>
            </tr>
          {%endfor%}
          </table>
        </td>
        {#Resident prescription dosage#}
        <td>
          <table id = "table_dosage_{{forloop.counter}}" class= " nowrap cell-border">
          {%for entry in  resident.get_inventory_info%}
            <tr>
              <td id = "dosage_{{forloop.counter}}">
              {{entry.dosage}}
              </td>
            </tr>
          {%endfor%}
          </table>
        </td>
        {#Resident Inventory Total#}
        <td>
          <table id ="table_totals_{{forloop.counter}}" class= "display compact nowrap  cell-border">
          {%for entry in  resident.get_inventory_info%}
            <tr>
              <td id = "total_{{forloop.counter}}">
              {{entry.total_cantidad}}
              </td>
            </tr>
          {%endfor%}
          </table>
        </td>
        {#Resident Predicted ammount#}
        <td>
          <table id = "table_target_{{forloop.counter}}" class= "display compact nowrap cell-border">
          {%for entry in  resident.get_inventory_info%}
            <tr>
              <td id = "output_{{forloop.counter}}">
              
              </td>
            </tr>
          {%endfor%}
          </table>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

<script>
  const table = document.getElementById('stock-datatable');
  const idDosage = 2;
  const idTotal = 3;
  const idTarget = 4


//Date and report management



function handle_dates(){
  var dateStart = new Date(document.getElementById("dateStart").value);
  var dateEnd = new Date(document.getElementById("dateEnd").value);
  var difference = dateEnd.getTime() - dateStart.getTime();
  var days = Math.ceil(difference / (1000 * 3600 * 24));
  console.log(days)
  if(Number.isNaN(days)){
    alert("Inserte una fecha inicial y final");
  }
  else if(days<0){
    alert("Error, la fecha inicial supera la fecha final");
  }
  else{
    var word = "DIAS";
    if(days == 0){
      var word = "DIA";
    }
    generateReport(days,word)
    }
    
  }




function generateReport(days,word){
  var header = document.getElementById("head_target");
  header.innerText ="SALDOS PARA "+" "+word;


  for(let i = 1, row; row = table.rows[i]; i++){

    var idTableDosage = "table_dosage_"+i;
    var tableDosage = document.getElementById(idTableDosage).getElementsByTagName("tr");
    


    var tableTotal = document.getElementById("table_totals_"+i).getElementsByTagName("tr");
    var tableTarget = document.getElementById("table_target_"+i).getElementsByTagName("tr");


    for(let j =0; j<tableTarget.length;j++){
      console.log(tableTarget.item(j));
      var total = tableTotal.item(j).innerText.split(' ')[0];
      var daily = tableDosage.item(j).innerText.split(' ')[0];

      if(tableDosage.item(j).innerText.split(' ')[1]!="None"){
        var unit =  tableDosage.item(j).innerText.split(' ')[1];
      }
      else{
        var unit =  tableTotal.item(j).innerText.split(' ')[1];
      }
      
      var calculated = total- (daily*days);

      var msg = formatCalculation(calculated,unit)
      tableTarget.item(j).innerText = msg;
      
    }
  }

}

function printReport(){  
  print()
}

function formatCalculation(ammount, unit){
  if(ammount>0){
    return "Sobraran "+ammount+" "+unit+" del inventario";
  }
  else if(ammount<0){
    return "Faltaran "+Math.abs(ammount)+" "+unit+" del inventario";
  }
  else
  return "Se acabara todo el inventario"

}

function calculateDuration(days,dosage,ammount){
  dosage = dosage*days;
  return ammount - dosage;
}


</script>




{% endblock %}